@model IEnumerable<JdShopEx.Models.Cart>


<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <title>购物车</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Content/css/style.css" />
</head>

  <body>
	  	<div class="container car-list mg-t-56">
            <form action="" method="post">
                <table class="table table-striped table-hover" id="table">
                    <thead class="header">
                        <tr>
                            <td><input type="checkbox" /></td>
                            <th>图示</th>
                            <th>商品</th>
                            <th>单价</th>
                            <th>总价</th>
                            <th>数量</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var cart in @Model)
                        {
                            <tr>
                                <td><input type="checkbox" value="@cart.CartId" /></td>
                                <td><img style="width:82px;height:82px;" src="@cart.Goods.GoodsImg" /></td>
                                <td>@cart.Goods.GoodsName</td>
                                <td>@cart.Goods.GoodsPrice</td>
                                <td></td>
                                <td>
                                    <a href="javascript:void(0);" class="btn btn-default" onclick="minus(@cart.CartId,this)"><span class="glyphicon glyphicon-minus"></span></a>
                                    <input value="@cart.Count" type="text" class="btn btn-default" style="width:56px;" />
                                    <a href="javascript:void(0);" class="btn btn-default" onclick="add(@cart.CartId,this)"><span class="glyphicon glyphicon-plus"></span></a>
                                </td>
                                <td>
                                    <a href="javascript:void(0);" class="btn btn-danger" onclick="del(@cart.CartId,this)">
                                        <span class="glyphicon glyphicon-trash"></span> 删除
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div>
                    <div class="pull-left">
                        <a href="javascript:void(0);" class="btn btn-danger" style="margin-right:70px;" onclick="JavaScript:window.location.href = document.referrer; ">
                            <span class="glyphicon glyphicon-backward"></span> 返回首页
                        </a>
                    </div>
                    <div class="pull-right">
                        <span>总计:</span><input type="text" value="0" class="total-money" id="total-money" readonly />
                        <a href="javascript:void(0);" class="btn btn-danger" style="margin-right:70px;" onclick="totalPrice()">
                            <span class="glyphicon glyphicon-usd"></span> 结算
                        </a>
                    </div>
                </div>
            </form>
	  	</div>
  </body>
</html>

<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="~/Content/js/layer/layer.js"></script>
<script>
    $(function () {
        setSumPrice("table");
    });

    var totalPrice=function(){
        var jsonList = getSumPriceList("table");
        var total = 0;
        for (var i = 0; i < jsonList.length; i++) {
            total += parseFloat(jsonList[i]["totalPrice"]);
            console.log(total);
        }
        //$("#imgtalk").val("值");
        //$("#imgtalk").attr("value", "值");
        //document.getElementById("imgtalk").value = "值";
        document.getElementById("total-money").value= total;
        
    }
    var getSumPriceList = function(tableId){
        var rows = document.getElementById(tableId).rows.length;  //已经有的行数
        let priceList = [];
        for (let i = 1; i < rows; i++) {  //第0行是表头
            let temp = {};
            temp.price = table.rows[i].cells[3].innerHTML; //单价
            temp.count = table.rows[i].cells[5].getElementsByTagName('input')[0].value; //数量
            var sumprice = parseFloat(temp.price) * parseInt(temp.count);
            temp.totalPrice = sumprice; //总价
            priceList.push(temp);
        }
        return priceList;
    }
    var setSumPrice = function (tableId) {
        var rows = document.getElementById(tableId).rows.length;  //已经有的行数
        for (let i = 1; i < rows; i++) {  //最后一行为添加按钮
            price = table.rows[i].cells[3].innerHTML; //单价
            count = table.rows[i].cells[5].getElementsByTagName('input')[0].value; //数量  0是input的属性，1是input长度
            var sumprice = parseFloat(price) * parseInt(count);
            table.rows[i].cells[4].innerHTML = sumprice;
        }
    }
    $(function () {
        $(":checkbox").change(function () {
            var ids = [];
            $.each($(":checked"), function (i, o) {
                ids[i] = $(o).val();
            });

            $.ajax({
                url: "ComputedPrice",
                type: "GET",
                data: {
                    cartId: ids
                },
                traditional: true,
                success: function (data) {
                    $("#sumprice").html(data);
                }
            });
        });
    });
    //加购物车商品的
    function add(cartid, element) {
        var text = $(element).parent().find(":text");
        $(text).val(parseInt($(text).val()) + 1);
        var prevtd = $(element).parent().prev().text();
        $.post("ChangeCount", { cartId: cartid, count: $(text).val() }, function () { });
        setSumPrice("table");
    }
    //减少购物车商品
    function minus(cartid, element) {
        var text = $(element).parent().find(":text");
        $(text).val(parseInt($(text).val()) - 1);
        $.post("ChangeCount", { cartId: cartid, count: $(text).val() }, function () { });
        setSumPrice("table");

    }
    //删除购物车商品
    function del(cartid, obj) {
        layer.alert("确定删除,想好了没得？", {
            skin: 'layui-layer-molv',//样式类名  自定义样式
            closeBtn: 1,  // 是否显示关闭按钮
            anim: 1, //动画类型
            btn: ['想好了','算了,不删'], //按钮
            icon: 6,  // icon
            yes: function (index) {
                $.post("DelCartId", { cartId: cartid }, function () {
                });
                deleteCurrentRow(obj);  //应该在post的回调函数里面调用
                layer.close(index);  //关闭 layer.alert
                layer.msg("删除成功!");
            },
            btn2: function (index) {
                layer.close(index);  //关闭 layer.alert
            }
        });
    }
    var deleteCurrentRow = function (obj) {
        var tr = obj.parentNode.parentNode;   //obj为table的a标签 ,该语句为找到父节点的父节点
        var tbody = tr.parentNode;
        tbody.removeChild(tr);
        //只剩行首时删除表格
        //if (tbody.rows.length == 1) {
        //    tbody.parentNode.removeChild(tbody);
        //}
    };
</script>